<<<<<<< Updated upstream
body { font-family: Georgia; color: #000000; background-color: #EA6161;}

=======
body { font-family: Georgia; color: #000000; background-color: #EA6161;}

>>>>>>> Stashed changes
h1 { font-family: Helvetica; color: #6C00FF; }